<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<!DOCTYPE html>
<html>
    <head>
        <title>Magic Eight Ball</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="ball">
            <div class="window">
                <span>
                {% if answer %}
                    {{answer}}
                {% else %}
                    Ask me anything!
                {% endif %}
                </span>
            </div>
        </div>

        <form method="post" action="/">
            <input type="text" name="question" placeholder="Type your question" required>
            <button type="submit">Ask</button>
        </form>
    </body>
</html>